.featured{
    width: 100%;
    max-width: 1214px;
    display: flex;
    justify-content: space-between;
    gap:20px;
    z-index: 1;
}
.featuredItem{
    position: raltive;
    color: white;
    border-radius: 10px;
    overflow: hiden;
    height: 250px;
}
.featuredImg{
    width: 100%;
    object-fit: cover;
}
.featuredTitles>h1{
  position:relative;
    bottom: 50px;
    font-size: small ;
}